@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%)
    --Light-gray: hsl(212, 45%, 89%)
    --Grayish-blue: hsl(220, 15%, 55%)
    --Dark-blue: hsl(218, 44%, 22%)
}   

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;

}
body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  color: hsl(218, 44%, 22%);
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1px);
  margin: 1.25rem;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.container img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}

.container h1{
  color:  hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 1rem;
}
.container p{
  color: var(--Grayish-blue);
  text-align: center;
}


.attribution a{
  font-size: 12px;
  color: hsl(220, 15%, 55%);
}


@media( min-width: 500px){
  .container{
    width: 400px;
  }
}